
$color-grey-dark:#333333;
.bio-box  {
  margin: 200px 0 0 150px;
}

.bio-box--sub {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 20px;
  font-weight: lighter;
  color:$color-grey-dark ;
}

.bio-box--main {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-img--container {
 position: relative;
}

.profile-img {
  position:absolute;
  top:50%;
  left:30%;
  height: 200px;
}

$color-icon-hover:#000033;
.header-primary-icon {
  font-size: 60px;
  color: black;
}
.header-primary-icon:hover {
  font-size: 60px;
  color:$color-icon-hover;
}
