
$color-grey-dark:#333333;
.bio-box  {
  margin: 10rem 0 0 15rem;
  position: relative;
}

.bio-box--sub {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
  font-size: 2rem;
  font-weight: lighter;
  color:$color-grey-dark ;
}

.bio-box--main {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.profile-img--container {
 position: relative;
}

.profile-img {
  position:absolute;
  top:40%;
  left:30%;
  height: 20rem;
}

$color-icon-hover:#000033;
.bio-box__header-primary-icon {
  font-size: 6rem;
  color: black;
}
.bio-box__header-primary-icon:hover {
  font-size: 6rem;
  color:$color-icon-hover;
}
.technologies-box {
  padding:5% 20% 0% 20%;
  width: 95vw;
}
.technologies-box__tech{
  padding-top: 20%;
  margin-bottom: 15%;
  font-size: 4rem;
  color: $color-grey-dark;
}

.plus-icon__container {
  margin: 1rem auto;
}
