<div fxLayout="row" fxFlexAlign="space-around center" fxLayoutGap="30px">
<div class="bio-box" fxFlex="40">
  <p class="bio-box--main">
    Full-Stack Web Developer
  </p>
    <p class="bio-box--sub">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nunc vel massa tincidunt, elementum tortor ut, sollicitudin ipsum.
      Duis iaculis, odio sit amet porttitor volutpat, orci mi vehicula dolor,
      ut lacinia mauris nisl id augue. Proin at sollicitudin diam.
      Integer tristique ex id nulla lacinia vestibulum. Donec condimentum
      sed nibh vel ullamcorper. Vestibulum vestibulum congue ex non interdum.
      Suspendisse pretium turpis ac tincidunt luctus.
    </p>
  <p class="bio-box--main">
    <mat-icon class="header-primary-icon"> add_circle </mat-icon>
  </p>


</div>
  <div class="profile-img--container" fxFlex="50">
    <img src="../../assets/img/profile-picture.png" class="profile-img" >
  </div>
</div>
