/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Lato, "Helvetica Neue", sans-serif; }
@import '~@angular/material/theming';

//$custom-typography: mat-typography-config($font-family: '"Lato", sans-serif;');
//$custom-typography
@include mat-core();


$my-theme-primary: mat-palette($mat-indigo);
$my-theme-accent:  mat-palette($mat-pink, A200, A100, A400);
$my-theme-warn:    mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);



@include angular-material-theme($my-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
