$color-icon-hover:#000033;

.img-container {
  min-height: 100vh;
  background-image: linear-gradient(
  to right bottom,
  rgba(0, 0, 0, 0.9),
    rgba(0, 0, 102, 0.5)
  ),
  url("../../assets/img/person-laptop.jpg");
  background-size: cover;
  width: 100%;
  background-position:top ;
}

.text-box{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-30%, -50%);
  width: 70vw;
}
.heading-primary {
  color: white;
}
.heading-primary-main{
  display: block;
  font-size: 7rem;
  font-weight: 500;
  letter-spacing:1rem;
}
.heading-primary-sub{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  font-size: 4rem;
  font-weight: 200;
  letter-spacing:0.5rem;
}
.header-primary-icon {
  font-size: 6rem;
  color: white;
}
.header-primary-icon:hover {
  font-size: 6rem;
  color:$color-icon-hover;
}


.header-primary-icon--container{
  text-align: center;
  transform: translate(-23%, 0%);
}
